<div class="row">
  <div class="col-md-4">
    <h3>Day 1: Tuesday</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>10:00 AM</td>  <td><a href="https://swcarpentry.github.io/shell-novice/index.html">The Unix Shell</a></td> </tr>
      <tr> <td>12:00 PM</td>  <td>Lunch break</td> </tr>
      <tr> <td>01:00 PM</td>  <td><a href="https://swcarpentry.github.io/shell-novice/05-loop.html">The Unix Shell Cont.</a></td> </tr>
      <tr> <td>03:00 PM</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 2: Wednesday</h3>
    <table class="table table-striped">
      <tr> <td>10:00 AM</td>  <td><a href="https://jennajordan.me/git-novice-speedrun/0_setup.html">Intro to Git and GitHub</a></td> </tr>
      <tr> <td>12:00 PM</td>  <td>Lunch break</td> </tr>
      <tr> <td>01:00 PM</td>  <td><a href="https://ornl-training.github.io/python-novice-inflammation_uv/index.html">Programming with Python</a></td> </tr>
      <tr> <td>03:00 PM</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-4">
    <h3>Day 3: Thursday</h3>
    <table class="table table-striped">
      <tr> <td>10:00 AM</td>  <td><a href="https://ornl-training.github.io/python-novice-inflammation_uv/05-loop.html">Programming with Python Cont.</a></td> </tr>
      <tr> <td>12:00 PM</td>  <td>Lunch break</td> </tr>
      <tr> <td>01:00 PM</td>  <td><a href="https://ornl-training.github.io/python-novice-inflammation_uv/09-errors.html">Programming with Python Cont.</a></td> </tr>
      <tr> <td>03:00 PM</td>  <td>END and <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
